.header {
   border-bottom-style:solid;
    border-color:grey;
    background-color:#547a82;
    font-family: 'Source Code Pro', monospace;
    margin:0px;
    position:fixed;
    top:0px;
    width:2000px;
  }
.menu {
  background-color:#3eacab;
  width:150px;
  height:300px;
  position:fixed;
  top:70px;
  }
 h1 {
   background-color:red;
   margin:0px;
  }
 .main {
   border-style:solid;
   margin-left:180px;
   margin-top:50px;
   font-family: 'Source Code Pro', monospace;
   width:700px;
   disply:inline-block;
   height:400;
   background-color:white;
  }
  body {
   font-family: 'Source Code Pro', monospace; 
   background-color:5a5050;
    background-attachment: fixed;
    margin:0px;
  }
  .sub {
   width:50px;
   height:150px;
   background-color:yellow;
   display:inline-block;
   margin-left:1000px;
   position:fixed;
   top:70px;
  }
  .main2 {
    border-style:solid;
   margin-left:180px;
   margin-top:100px;
   font-family: 'Source Code Pro', monospace;
   width:700px;
   disply:inline-block;
   height:400; 
    background-color:white;
  }
  .maintext {
   padding-left:250px; 
  }
  p {
   padding-left:150px; 
  }
     .main3 { 
  border-style:solid;
   margin-left:180px;
   margin-top:100px;
   font-family: 'Source Code Pro', monospace;
   width:250px;
   disply:inline-block;
   height:250px; 
    background-color:white;
  }
  .emailtext {
    padding-left:100px;
  }
